<mat-sidenav-container>
  <mat-sidenav [opened]="editorState$ | async" position="end" mode="over" [disableClose]="true">
    <app-incident-form *ngIf="editorState$ | async" [incident]="incident$ | async" (closeEditor)="onCloseEditor()"
      (save)="onSaveIncident($event)">
    </app-incident-form>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">APD/Northgate Incident Reporting</mat-toolbar>
    <section>
      <mat-toolbar>
        <h1>Incidents</h1>
        <button *ngIf="(incidents$ | async).length > 0" type="button" mat-stroked-button color="primary"
          (click)="onCreateIncident()">NEW INCIDENT</button>
      </mat-toolbar>
      <div class="mat-elevation-z2">
        <app-incident-list [incidents]="incidents$ | async" (create)="onCreateIncident()"
          (edit)="onEditIncident($event)">
        </app-incident-list>
      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
